{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "globals": {
        "satellite": true
    },
    "rules": {
        "indent": [
            "warn",
            2
        ],
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0,
        "no-trailing-spaces": 1
    }
}
